.section2 {
    background: radial-gradient(67.29% 243.24% at 27.32% 52.8%, #0C3F63 0%, #02162D 98.44%);

    .img_wrapper {
        padding: 3em 0em;
    }

    .content_wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        color: white;
        padding: 0em 3em;

        .LearnMoreBtn {
            padding: 0.4em 1.5em;
            border-radius: 25px;
            color: #fff;
            border: none;
            background: linear-gradient(100deg, #02162D 15%, #36E0F7 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, #1D2674 0%, #0F0C29 45.83%);
        }
    }
}



@media screen and (max-width:991px){
    .section2 {
        .content_wrapper {
            padding: 3em 3em;
    
        }
    }
 }